name: Auto Release

on:
  push:
    branches:
      - flamedriver
      - Clone-Driver-v2

jobs:
  release:
    runs-on: windows-latest

    if: contains(toLower(github.event.head_commit.message), 'set release')

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Create GitHub Release
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ github.sha }}
          name: Release ${{ github.sha }}
          draft: false
          prerelease: false
